.tree-root, 
.tree-root ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tree-root {
  --parent-depth: 0;
}

ul {
  --depth: calc(var(--parent-depth, 0) + 1);
}

li {
  --parent-depth: var(--depth);
}

ul.childs {
  position: relative;
}

ul.childs::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc((var(--depth) - 2) * 16px + 4px + 11px);
  border-left: 1px solid var(--border);
  pointer-events: none;
}

.tree-row {
  box-sizing: border-box;
  display: flex;
  position: relative;
  border-radius: 8px;
  align-items: center;
  padding-left: calc((var(--depth) - 1) * 18px + 4px);
  padding-right: 4px;
  cursor: pointer;
  color: var(--text-secondary-color);
  width: 100%;
  height: 2rem;
  gap: 0.25rem;
}

.tree-row:hover {
  background-color: var(--hover)
}
.tree-row.is-selected {
  background-color: var(--bg-selected-tree-item);
  color: var(--text-default-color);
}