.page-link-card,
.card {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 8px;
  cursor: pointer;
  color: var(--text-default-color);
}

.page-link-card:hover {
  background-color: var(--hover);
}
