@font-face {
  font-family: "fixel";
  font-weight: 400;
  src: url("./FixelText-Regular.otf") format("opentype");
}

@font-face {
    font-family: "fixel";
    font-weight: 600;
    src: url(./FixelText-SemiBold.otf) format("opentype");
}

@font-face {
    font-family: "fixel";
    font-weight: 500;
    src: url(./FixelText-Medium.otf) format("opentype");
}
