@layer base {
  *:focus:not(:focus-visible) {
    outline: none;
  }

  *:focus-visible {
    outline: 2px solid var(--accent-hover);
    outline-offset: 2px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--heading);
    font-weight: 600;
    color: var(--text-header-color);
  }

  h1 {
    font-size: 32px;
    letter-spacing: -1.68px;
  }
  h2 {
    font-size: 24px;
    letter-spacing: -0.24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }

  p,
  span {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    font-family: var(--fixel);
    color: var(--text-default-color);
  }

  label {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--fixel);
    color: var(--text-secondary-color);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  button {
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .base-button {
    background-color: var(--button-bg, transparent);
    color: var(--button-text-color, var(--text-default-color));
  }

  .base-button:hover {
    background-color: var(
      --button-hover-bg,
      color-mix(in srgb, var(--hover) 100%, var(--surface-contrast-layer))
    );
  }

  .base-button > .base-icon {
    color: var(--button-icon-color, var(--icon-color));
  }

  .button-variant-default {
    --button-bg: transparent;
    --button-hover-bg: color-mix(in srgb, var(--hover) 80%, transparent);
    --button-text-color: var(--text-default-color);
  }

  .button-variant-secondary {
    --button-bg: var(--surface-contrast-layer);
    --button-hover-bg: color-mix(
      in srgb,
      var(--hover) 100%,
      var(--surface-contrast-layer)
    );
    --button-text-color: var(--text-default-color);
  }

  .button-variant-accent {
    --button-bg: var(--bg-btn-accent);
    --button-hover-bg: var(--accent-hover);
    --button-text-color: var(--text-on-accent-color);
    --button-icon-color: var(--text-on-accent-color);
  }

  button,
  a,
  .clickable {
    transition: transform 0.1s ease;
    cursor: pointer;
  }

  .clickable:hover {
    background-color: color-mix(
      in srgb,
      var(--hover) 80%,
      var(--bg-bottom-layer)
    );
  }

  button:active:not(:disabled),
  button.keyboard-active:not(:disabled),
  a:active:not(:disabled),
  a.keyboard-active:not(:disabled),
  .clickable:active:not(:disabled),
  .clickable.keyboard-active:not(:disabled) {
    transform: scale(0.95);
  }

  input {
    font-family: inherit;
  }

  .base-block {
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    color: var(--text-default-color);
  }
  
  .base-icon {
    display: inline-flex;
    justify-items: center;
    border-radius: 0.5rem;
    color: var(--icon-color);
    flex-shrink: 0;
    width: 22px;
    height: 22px;
  }
  
  .hl {
    border-bottom: 1px solid var(--border);
    width: 100%;
  }
}