@import "tailwindcss";

@import "/src/surfaces.css";
@import "/src/base.css";
@import "/src/colors.css";

@import "/src/shared/components/tree/style.css";
@import "/src/modules/page/components/editor/nodes/blocks/style.css";

:root {
  --scroll-color: var(--gray);
  --fixel: fixel;
  --heading: fixel;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px var(--fixel);
  color-scheme: light dark;
  color: var(--text);
  background: var(--surface-layer);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .accent {
    background-color: var(--accent);
  }

  .accent:hover {
    background-color: var(--accent-hover);
  }

  .prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .float-shadow {
    box-shadow:
      0px 0px 0px rgba(51, 51, 51, 0.01),
      0px 0px 1px rgba(51, 51, 51, 0.02),
      0px 1px 1px rgba(51, 51, 51, 0.03),
      0px 1px 3px rgba(51, 51, 51, 0.04),
      0px 2px 4px rgba(51, 51, 51, 0.05),
      0px 2px 6px rgba(51, 51, 51, 0.06),
      0px 3px 8px rgba(51, 51, 51, 0.07),
      0px 4px 10px rgba(51, 51, 51, 0.08);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll {
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) transparent;
    transition: scrollbar-color 0.2s ease-in-out;
  }

  .scroll.auto-hide-scroll {
    scrollbar-color: transparent transparent;
  }

  .auto-hide-scroll:hover,
  .auto-hide-scroll:focus-within {
    scrollbar-color: var(--scroll-color) transparent;
  }

  .scroll::-webkit-scrollbar,
  .auto-hide-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scroll::-webkit-scrollbar-track,
  .auto-hide-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .scroll::-webkit-scrollbar-thumb,
  .auto-hide-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 9999px;
  }

  .scroll:hover::-webkit-scrollbar-thumb,
  .scroll:focus-within::-webkit-scrollbar-thumb,
  .auto-hide-scroll:hover::-webkit-scrollbar-thumb,
  .auto-hide-scroll:focus-within::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-400, #9ca3af);
  }

  .scroll::-webkit-scrollbar-thumb:hover,
  .auto-hide-scroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray-500, #6b7280);
  }
}
